{% set adDisplaySlot = site.googleAds.defaultSlot or "" %}
{% set adDisplayFormat = "auto" %}
{% set adDisplayKind = "default-display" %}
{% set adDisplayClass = "" %}
{% set adDisplayPlaceholder = true %}
{% include "ads/display.njk" %}
