---
layout: layouts/base.njk
brand: devbyhwang
---
{% set brandKey = "devbyhwang" %}
{% set defaultCategory = "devlog" %}
{% set relatedCollection = collections.devPosts %}
{% set renderInlineAds = true %}
{% set showRails = true %}
{% set postRailMode = "left-only" %}
{% set adRailDisplayFormat = "vertical" %}
{% set showPostToc = true %}
{% set showKicker = false %}
{% set showAuthorByPrefix = false %}
{% set writingDateFormat = "yyyy년 M월 d일" %}
{% set showMultiplexAd = false %}
{% include "partials/writing-detail-core.njk" %}
