---
layout: layouts/base.njk
brand: devbyhwang
---
{% set brandKey = "devbyhwang" %}
{% set defaultCategory = "devlog" %}
{% set relatedCollection = collections.devPosts %}
{% set renderInlineAds = true %}
{% set showRails = true %}
{% set showBottomAd = true %}
{% include "partials/writing-detail-core.njk" %}
