---
layout: layouts/base.njk
brand: dodoes
---
{% set brandKey = "dodoes" %}
{% set defaultCategory = "notes" %}
{% set relatedCollection = collections.dodoesWriting %}
{% set detailAuthorLabel = "두더즈" %}
{% set renderInlineAds = false %}
{% set showRails = false %}
{% set showPostToc = true %}
{% set showAuthorByPrefix = false %}
{% set writingDateFormat = "yyyy년 M월 d일" %}
{% set showMultiplexAd = false %}
{% include "partials/writing-detail-core.njk" %}
