---
layout: layouts/base.njk
brand: dodoes
---
{% set brandKey = "dodoes" %}
{% set defaultCategory = "notes" %}
{% set relatedCollection = collections.dodoesWriting %}
{% set renderInlineAds = false %}
{% set showRails = false %}
{% set showBottomAd = false %}
{% include "partials/writing-detail-core.njk" %}
