---
permalink: /devbyhwang/sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set baseUrl = site.url %}
{% for page in collections.all | sitemapFilter("/devbyhwang/") %}
  <url>
    <loc>{{ (baseUrl + (page.url | url)) | sitemapUrl }}</loc>
    {% if page.date %}
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {% endif %}
  </url>
{% endfor %}
{% for archivePage in collections.devPostPages %}
  {% if archivePage.pageIndex > 0 %}
  <url>
    <loc>{{ (baseUrl + (archivePage.href | url)) | sitemapUrl }}</loc>
  </url>
  {% endif %}
{% endfor %}
{% for archivePage in collections.devCategoryPages %}
  {% if not loop.first or archivePage.pageIndex > 0 %}
  <url>
    <loc>{{ (baseUrl + (archivePage.href | url)) | sitemapUrl }}</loc>
  </url>
  {% endif %}
{% endfor %}
{% for archivePage in collections.playgroundPages %}
  {% if archivePage.pageIndex > 0 %}
  <url>
    <loc>{{ (baseUrl + (archivePage.href | url)) | sitemapUrl }}</loc>
  </url>
  {% endif %}
{% endfor %}
</urlset>
